name: Day5 Terraform Dev Deploy

on:
  push:
    branches:
      - dev

jobs:
  terraform-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        working-directory: Day5/terraform/envs/dev
        run: terraform init

      - name: Terraform Plan
        working-directory: Day5/terraform/envs/dev
        run: terraform plan

